/*@font-face {
  font-family: "comic sans"
  src: ur
}*/
html{
background: linear-gradient(to bottom right, #99d6ff, #007acc);
}


/*body {
  background-color: #99d6ff;
  background: linear-gradient(to bottom right, #99d6ff, #007acc);
}*/


h1{
      padding-top: 5%;
      padding-left: 10%;

 }


h2{
  margin-left: 0.4em;
  padding-top: 1em;
}

p{
  max-width: 500px;
  text-align: justify;
  /*font-family: "Comic Sans MS";
  /* just to give it a bit more professional look*/
}

.exp{
    font-weight: bold;
}

 body{
   margin-left: 10%;
   width: 700px;
 }

.skills{
  width: 16em;
  border: 3px solid #fff;
  border-style: dashed;
}
.qua{
  width: 18em;
  border: 3px solid #fff;
  border-style: dashed;
}

.language{
    width: 150px;
  border: 3px solid #fff;
  border-style: dashed;
}

.html{
 width: 60%; background-color:  #c938da;
}

#typog{
  font-family: "Comic Sans MS";
  letter-spacing: 0.5em;
  text-transform: uppercase;
}
